/*
 *= require application
 *= require_self
 */

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.sidebar-nav {
  h2 {
    font-size: 12px;
    line-height: 100%;
    color: #999;
    text-align: left;
    border-bottom:1px solid #ddd;
    margin:0 -10px 10px 0;
    padding-bottom:8px;
  }
  ul, ol {
    margin:0;
    list-style-position: inside;
  }
  p { margin-bottom: 6px; }
  li { margin-bottom: 4px; }
}

html {
  width: 100%;
  background:#eee;
}

body { background:none;}

.info h1 { text-align: left; display:inline; }
.info .tagline { text-align:left; margin-top:-8px; margin-bottom:26px;}
.info ul { list-style:none; }
.info ul li { font-size:16px; line-height:180%; border-bottom:1px dashed #eee;}
.info ul li span { color:#999; font-size:14px; margin-right:8px; display:inline-block; width:100px; text-align: right;}
bio h2 { text-align:right; margin-bottom:10px; }
.bio { font-size:12px; line-height:180%; }

.list {
  .item {
    .logo { margin: 0px 10px 5px 10px; width: 64px }
    .right_info { padding-left:70px;}
    .note {
      width:70px; margin-right:10px; text-align:right; vertical-align:middle;
    }
    .infos { padding-right:80px; }
    .title { font-size:14px; }
    .info { color:#999; margin-bottom:2px; }
  }
  .item_line {border-bottom:1px solid #DDD; padding:10px 0; margin:0 -10px; vertical-align:top; }
}



